GROQ_API_KEY=
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
POSTGRES_HOST=postgres
POSTGRES_DB=vehicle_assistant
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
AI_MODEL="openai/gpt-oss-120b"
SQLITESEARCHDB="./issues.db"
CHROMA_COLLECTION="obd_diagnostics"
CHROMA_DB_DIR="./chroma_db"
MODEL_BASE_URL="https://api.groq.com/openai/v1"
